<%= form_with(model: click, class: "contents") do |form| %>
  <% if click.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(click.errors.count, "error") %> prohibited this click from being saved:</h2>

      <ul class="list-disc ml-6">
        <% click.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :affiliate_link_id %>
    <%= form.text_field :affiliate_link_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": click.errors[:affiliate_link_id].none?, "border-red-400 focus:outline-red-600": click.errors[:affiliate_link_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :ip_hash %>
    <%= form.text_field :ip_hash, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": click.errors[:ip_hash].none?, "border-red-400 focus:outline-red-600": click.errors[:ip_hash].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :referrer %>
    <%= form.text_field :referrer, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": click.errors[:referrer].none?, "border-red-400 focus:outline-red-600": click.errors[:referrer].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :user_agent %>
    <%= form.text_field :user_agent, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": click.errors[:user_agent].none?, "border-red-400 focus:outline-red-600": click.errors[:user_agent].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
